body {
    width: 100vw;
}

.Home {
    background-color: rgb(228, 228, 97);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
    
}


.imagem-home {
   
    background-image: url('../../assets/banner-home.png');
    width: 800px;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    


}

.text {
    position: absolute;
    top: 43%;

    font-size: 100px;
    color: white;
    text-shadow: 3px 2px 4px rgb(48, 48, 48);
}